.dtui-button
{
    border-radius: 4px; 
}
.dtui-buttonedit-border,
.dtui-textbox-border
{
    border-radius: 4px; 
}
.dtui-panel-border
{
    border-radius:4px;   
}
.dtui-tab
{
    border-radius:4px;   
}
.dtui-tabs-header-right .dtui-tab
{
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;     
}

.dtui-tabs-header-left .dtui-tab
{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;     
}
.dtui-tabs-header-bottom .dtui-tab
{
    border-top-right-radius:0px;
    border-top-left-radius:0px;     
}
.dtui-tabs-header-top .dtui-tab
{
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px; 
}


/*----------------------------------- bgcss ----------------------------------*/
.bg-toolbar
{
    background:#f0f0f0;
}


/*----------------------------------- tools ----------------------------------*/
/*
.dtui-tools .dtui-tools-collapse
{
    background:url(images/tools/collapse.gif) no-repeat 50% 50%;
    width:15px;	
}
.dtui-tools .dtui-tools-expand
{
    background:url(images/tools/expand.gif) no-repeat 50% 50%;
    width:15px;	
}
.dtui-tools-close
{
    background:url(images/tools/close.gif) no-repeat 50% 0px;
    width:15px;	
}
*/

/*----------------------------------- toolbar ----------------------------------*/

.dtui-toolbar
{
    border:solid 1px #ccc;
    background:#fafafa;
}
.separator
{
    border-left:solid 1px #bbb;    
}

/*----------------------------------- button ----------------------------------*/

.dtui-button
{
    
    background: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
}
body a:hover.dtui-button
{
	color:#333;
	border-color:#adadad;
	background:#ebebeb	      
}
body .dtui-button-pressed, body a:hover.dtui-button-pressed,
body .dtui-button-checked, body a:hover.dtui-button-checked,
body a.dtui-button-popup, body a:hover.dtui-button-popup
{
	background:#ebebeb;
	border-color:#adadad;
	color:#333333;
	/*-webkit-box-shadow:inset 0 0 5px 3px #d4d4d4;
	box-shadow:inset 0 0 5px 3px #d4d4d4	*/
}
body a.dtui-button-disabled, body a:hover.dtui-button-disabled
{
	color:#999;
	border-color:#ccc;	
	background:none;
}


/*----------------------------------- textbox ----------------------------------*/
.dtui-textbox-border
{
    background:white;
	border-color:#ccc;   
}
body .dtui-textbox-focus .dtui-textbox-border
{
    border-color: #adadad;
}


/*----------------------------------- buttonedit ----------------------------------*/

.dtui-buttonedit-border
{
	background:white;
	border-color:#CCCCCC;    
}
body .dtui-buttonedit-focus .dtui-buttonedit-border
{
    border-color: #adadad;
    
}
.dtui-buttonedit-button
{
    background: #ffffff;    
    border-left:solid 1px #ccc;
    color: #333333;
	padding:0;
	margin:0;
	height:20px;
}
.dtui-buttonedit-button-hover,
.dtui-buttonedit-hover .dtui-buttonedit-button
{
	color:#333;		
	background:#ebebeb;
	border-width:0px;
	border-left:solid 1px #adadad;
}
.dtui-buttonedit-button-pressed,
.dtui-buttonedit-popup .dtui-buttonedit-button
{
	background:#ebebeb;
	color:#333333;
	border-width:0px;
	border-left:solid 1px #adadad;
}
.dtui-buttonedit-icon
{
    margin-top:2px;
}
.dtui-popupedit .dtui-buttonedit-icon
{
    background:url(images/buttonedit/arrow.gif) no-repeat  1px 2px;
}
.dtui-datepicker .dtui-buttonedit-icon
{
    background:url(images/buttonedit/date.gif) no-repeat  1px 2px;
}


/*------------------------- panel -----------------------*/

.dtui-panel-border
{    
    border:1px solid #ccc;     
}
.dtui-panel-header
{
    height:25px;
    background:#F5F5F5;
    color:#333;
    font-weight:normal;
    border-bottom:solid 1px #ccc;
}
.dtui-panel-header-inner
{
   padding-top:4px;
}
.dtui-panel-toolbar
{
    border-bottom:solid 1px #ccc;
    background:#fafafa;
}

.dtui-panel-footer
{
    border-top:solid 1px #ccc;
    background:#fafafa;
}




/*----------------------------- window -------------------------*/
.dtui-window .dtui-panel-header
{    
    background:#F5F5F5;
}
.dtui-window .dtui-panel-footer
{
    background:#fafafa;
}
/*.dtui-tools-max
{
	background:url(images/tools/max.gif) no-repeat;
}
.dtui-tools-restore
{
	background:url(images/tools/restore.gif) no-repeat;
}*/


/*------------------- navbar ------------------*/
.dtui-outlookbar-border
{
    border:1px solid #ccc;         
}
.dtui-outlookbar .dtui-outlookbar-groupHeader
{
  /*  background:#d9e8fb url(images/navbar/header.gif) repeat-x 0 0;    */
  background:#F5F5F5;
    border-color:#ccc;
}
.dtui-outlookbar .dtui-outlookbar-groupTitle
{
    font-weight:normal;
}
.dtui-outlookbar .dtui-outlookbar-group 
{
    border-color:#ccc;
}
.dtui-outlookbar .dtui-outlookbar-groupBody
{    
    border-color:#ccc;
}
/* view2 */
.dtui-outlookbar-view2 .dtui-outlookbar-groupHeader
{
    border:solid 1px #ccc; 
}
.dtui-outlookbar-view2 .dtui-outlookbar-groupBody
{    
    background:#fff;
}
/* view3 */
.dtui-outlookbar-view3 .dtui-outlookbar-group
{
    border:solid 1px #ccc; 
}

.dtui-outlookbar .dtui-tools-collapse
{
    width:15px;	
}
/*
.dtui-outlookbar .dtui-outlookbar-expand .dtui-tools-collapse
{
    background:url(images/navbar/expand.gif) no-repeat 50% 50%;   
}
.dtui-outlookbar .dtui-outlookbar-collapse .dtui-tools-collapse
{
    background:url(images/navbar/collapse.gif) no-repeat 50% 50%;   
}

*/



/*----------------------- splitter -----------------------*/
.dtui-splitter-border
{
    border:solid 1px #ccc;     
}
.dtui-splitter .dtui-splitter-pane1{
    border-color:#ccc;
}
.dtui-splitter .dtui-splitter-pane2{
    border-color:#ccc;
}

/*----------------------- layout -----------------------*/
.dtui-layout-border
{
    border-color:#ccc;
}
.dtui-layout-region
{
    border-color:#ccc;    
}
.dtui-layout-region-header
{
    background:#F5F5F5;
    border-bottom:solid 1px #dedede;
}
.dtui-layout-proxy
{
    border-color:#ccc;
    background:#F5F5F5;
}
.dtui-layout-proxy-hover
{
    background:#fafafa;    
}



/*------------------------- menu --------------------------------*/

.dtui-menu
{
	background:#fff;		
	border-color:#f5f5f5;
    color:black;    
}
.dtui-menu-border
{
    /*border-radius: 2px; */
    border-color:#ccc;
}
.dtui-menuitem
{
    line-height:20px;    
}
.dtui-menuitem-hover,  .dtui-menu-popup
{
    border-color:#fafafa;
	background:#f5f5f5;
}

.dtui-menuitem-selected
{
    border-color:#fafafa;
    background:#f5f5f5;
}
.dtui-menuitem-text, .dtui-menuitem-text a
{
    color:black;
}
.dtui-separator
{
    border-top:solid 1px #ccc;
}

/* menu horizontal */
.dtui-menu-horizontal .dtui-menu-inner
{
    background:#f5f5f5;
}
.dtui-menu-horizontal .dtui-menuitem-hover
{
    border:solid 1px #ccc;
    background:#ebebeb;
}
.dtui-menu-horizontal  .dtui-menu-popup
{
    border:solid 1px #ccc;
    background:#ebebeb;
    border-bottom:0px;
}

/*---------------------- listbox -----------------------------*/
.dtui-listbox-border
{    
    border:#ccc 1px solid;
}
.dtui-listbox-border td
{
    line-height:20px;       
}
.dtui-listbox-item td{
	border-top:white 1px dotted;
	border-bottom:white 1px dotted;	
}
.dtui-listbox-item-hover td{
    background:#fafafa;
	border-top:#ccc 1px dotted;
	border-bottom:#ccc 1px dotted;
}
.dtui-listbox-item-selected td{
	background:#f5f5f5;
	border-top:#ccc 1px dotted;
	border-bottom:#ccc 1px dotted;
}
.dtui-listbox-header
{
    background:#f5f5f5;
    border-bottom:solid 1px #ccc;
}

/*------------------- treegrid --------------------*/
.dtui-treegrid-border
{
    border-color:#98c0f4;
}

.dtui-treegrid-header
{
    border-bottom:none;
}
.dtui-treegrid-headerInner
{
    background:#E7EBEF url(images/treegrid/header.png) repeat-x 0 0;
}
.dtui-treegrid td
{
    border-color:#d0d0d0;    
}
.dtui-treegrid-header td
{
    border-color:#d0d0d0;
}

.dtui-treegrid-selectedNode
{
	background:#cbdaf0;
}
.dtui-treegrid-hoverNode
{
    background:#dfe8f6;
}
/*
.dtui-treegrid-expand .dtui-treegrid-ec-icon
{
	background-image:url(images/treegrid/expand.gif);
	background-position:50% 50%;
}
.dtui-treegrid-collapse .dtui-treegrid-ec-icon
{
	background-image:url(images/treegrid/collapse.gif);
	background-position:50% 50%;
}*/
.dtui-treegrid-leaf
{
    background-image:url(images/treegrid/file.png);
}
.dtui-treegrid-folder
{
    background-image:url(images/treegrid/folder.gif);
}

/*---------------------- calendar -----------------------------*/
.dtui-calendar
{    
    border:1px solid #ccc;       
}
.dtui-calendar-header
{   
    background:#f5f5f5;    
    border-bottom:solid 1px #ccc;    
}
.dtui-calendar-footer
{
    border-top:solid 1px #ccc;
    background:#fafafa;    
}
.dtui-calendar-tadayButton, .dtui-calendar-clearButton,
.dtui-calendar-okButton, .dtui-calendar-cancelButton
{
    background: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
}
.dtui-calendar-menu-selected, a:hover.dtui-calendar-menu-selected
{
    color:#333;
    background:#fafafa;
    border:solid 1px #ccc;
}

.dtui-calendar .dtui-calendar-selected
{
     color:#333;
    background:#f5f5f5;
    border:solid 1px #ccc;
}
.dtui-calendar .dtui-calendar-today
{
    border:1px solid #C00000;
}
.dtui-calendar-daysheader td
{border-bottom:solid 1px #dedede;    
}
    
/*---------------------- tabs -----------------------------*/

.dtui-tabs-scrollCt
{
    border-color:#ccc;
    background:#fafafa;
}

.dtui-tabs-leftButton, .dtui-tabs-rightButton
{
    border:solid 1px #b5afaf;
    background-color:#EBEBEE;
}
a:hover.dtui-tabs-leftButton,a:hover.dtui-tabs-rightButton
{
    border:solid 1px #80a4d0;
    background-color:#E1E8FD;
}
/* top */
.dtui-tabs-bodys
{
    border-color:#ccc;
}
.dtui-tabs-space
{
    border-color:#ccc;
}
.dtui-tabs-space2
{
    border-color:#ccc;
}

.dtui-tab
{
    background: #fafafa;
    border: 1px solid #ccc;
    color: #333;    
    
}
.dtui-tab-hover
{    
    background:#fff;
}
.dtui-tab-active
{
    border-bottom:solid 1px #f5f5f5;
    background:#f5f5f5;
}

/* bottom */
.dtui-tabs-header-bottom .dtui-tabs-space,
.dtui-tabs-header-bottom .dtui-tabs-space2
{
    border:0;
    border-top: 1px solid #ccc;
}
.dtui-tabs-header-bottom .dtui-tabs-bodys
{    
    border:solid 1px #ccc;
    border-bottom:0;
}
.dtui-tabs-header-bottom .dtui-tab-active
{
    border-top:solid 1px white;
    border-bottom:solid 1px #ccc;
}
.dtui-tabs-body-bottom
{
    border:solid 1px #ccc;
    border-bottom:0;
}
/* left */
.dtui-tabs-header-left .dtui-tabs-space,
.dtui-tabs-header-left .dtui-tabs-space2
{
    border:0;
    border-right: 1px solid #ccc;
}
.dtui-tabs-header-left .dtui-tabs-bodys
{
    border:solid 1px #ccc;
    border-left:0;
}
.dtui-tabs-header-left .dtui-tab-active
{    
    border:solid 1px #ccc;
    border-right:solid 1px white;
}
.dtui-tabs-body-left
{
    border:solid 1px #ccc;
    border-left:0;
}
/* right */
.dtui-tabs-header-right .dtui-tabs-space,
.dtui-tabs-header-right .dtui-tabs-space2
{
    border:0;
    border-left: 1px solid #ccc;
}
.dtui-tabs-header-right .dtui-tabs-bodys
{    
    border:solid 1px #ccc;
    border-right:0;
}
.dtui-tabs-header-right .dtui-tab-active
{    
    border:solid 1px #ccc;
    border-left:solid 1px white;
}
.dtui-tabs-body-right
{
    border:solid 1px #ccc;
    border-right:0;
}
/*---------------------- tree -----------------------------*/


.dtui-tree-node-hover .dtui-tree-nodeshow
{
    background:#fafafa;
	border:solid 1px #ccc;	
	border-radius: 4px; 	  
}
.dtui-tree-selectedNode .dtui-tree-nodeshow
{
    background:#f5f5f5;
	border:solid 1px #ccc;	
	border-radius: 4px; 
}

.dtui-tree-leaf
{
    background-image:url(images/tree/leaf.gif);
}
.dtui-tree-folder
{
    background-image:url(images/tree/folder.gif);
}
.dtui-tree-expand .dtui-tree-folder
{
    background-image:url(images/tree/folder-open.gif);
}

/*------------------- grid --------------------*/
.dtui-grid-border
{
    border-color:#cccccc;
}
.dtui-grid-header
{
    background:#f5f5f5;
}
.dtui-grid-headerCell, .dtui-grid-topRightCell
{
    background:#f5f5f5;
    border-right:#c5c5c5 1px solid;
    border-bottom:#c5c5c5 1px solid;
}
.dtui-grid-cell
{
    border-color:#e5e5e5;
    border-bottom-color:#e5e5e5;
}
.dtui-grid-filterRow
{
    background:#fafafa;
}
.dtui-grid-footer, .dtui-grid-pager
{
    border-top:solid 1px #ccc;    
    background:#fafafa;
}
.dtui-grid-columnproxy
{
    background:#f5f5f5;
    border:#c5c5c5 1px solid;    
}


body .dtui-grid-row-hover, body .dtui-grid-row-hover .dtui-grid-frozenCell
{
    background:#fafafa;    
}
html body .dtui-grid-row-selected, body .dtui-grid-row-selected .dtui-grid-frozenCell
{
    background:#f5f5f5;		
}

/*------------------- pager --------------------*/
.dtui-pager-first
{    
    background:url(images/pager/first.gif) no-repeat;
}
.dtui-pager-prev
{
    background-image:url(images/pager/prev.gif);
}
.dtui-pager-next
{
    background-image:url(images/pager/next.gif);
}
.dtui-pager-last
{
    background-image:url(images/pager/last.gif);
}

/*htmlfile*/
.dtui-htmlfile .dtui-buttonedit-button
{   
    border:1px solid #cccccc;
    border-top:#ffffff; 
    border-right:#ffffff;
    background:#ffffff;
    color:#333; 
}
/*---------------------- progressbar -----------------------------*/
.dtui-progressbar
{
    border:1px solid #ccc;
    border-radius: 4px; 
}
.dtui-progressbar-border
{
    border:1px solid #ccc;
    border-radius: 4px; 
}
.dtui-progressbar-bar
{
    background:#e2eff8;
}
.dtui-progressbar-text
{ 
    color:#222; 
}