
.root-column {
    display: flex;
    flex-direction: column;
}

.max-width {
    width: 100%;
}

.toolbar {
    height: 30px;
    background: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.toolbar-new {
    margin-left: 20px;
}

.btm {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pestpaper-edit-base {
    margin: 50px 50px;

}

.testpaper-chooser-row {
    display: flex;
    flex-direction: row;
}

.testpaper-chooser-row-item1 {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 500px;

}

.testpaper-chooser-row-item2 {
    flex-grow: 5;
    background: #ffff00;
    display: flex;
    flex-direction: column;

}

.testpaper-chooser-row-item1-label {
    background: #ff0000;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testpaper-chooser-type-item{
    margin-top: 2px;
    padding: 15px;
    background-color: bisque;
}

.question-chooser-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aquamarine;

}

.question-edit-base {
    margin: 20px 20px;

}

.question-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question-sure{
    margin-left: 15px;
}